<!--
(selectionChanged)="onSelectionChange($event)"
-->
<cfc-select
  label="Pick the user"
  (searchChanged)="onSearchChange($event)"
  (closed)="onSearchChange('')"
  [displayWith]="displayWithFn"
  [compareWith]="compareWithFn"
  multiple
  [searchable]="true"
  [formControl]="selectedValue"
>
    <cfc-option
      *ngFor="let user of filteredUsers"
      [value]="user"
      [disabled]="user.disabled"
      disabledReason="This user is disabled!"
    >
      {{user.name}}
    </cfc-option>
</cfc-select>
