<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onReset($event)">
  <div class="form-field">
    <label for="name">First Name</label>
    <input formControlName="firstName" type="text" id="name" placeholder="Enter your name">
    <app-input-error *ngIf="form.controls.firstName.dirty" [errors]="form.controls.firstName.errors"></app-input-error>
  </div>
  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input formControlName="lastName" type="text" id="last-name" placeholder="Enter your last name">
    <app-input-error *ngIf="form.controls.lastName.dirty" [errors]="form.controls.lastName.errors"></app-input-error>
  </div>
  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input formControlName="nickname" type="text" id="nickname" placeholder="Come up with a nickname">
    <app-input-error *ngIf="form.controls.nickname.dirty" [errors]="form.controls.nickname.errors"></app-input-error>
    <div *ngIf="form.controls.nickname.pending" class="input-info">Checking...</div>
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input formControlName="email" type="email" id="email" placeholder="Provide your email">
    <app-input-error *ngIf="form.controls.email.dirty" [errors]="form.controls.email.errors"></app-input-error>
  </div>
  <div class="form-field-inline-group">
    <div class="form-field form-field--small">
      <label for="year-of-birth">Year of birth</label>
      <select id="year-of-birth" formControlName="yearOfBirth">
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <app-input-error *ngIf="form.controls.yearOfBirth.dirty" [errors]="form.controls.yearOfBirth.errors"></app-input-error>
    </div>
    <div class="form-field form-field--small">
      <label for="passport">Passport Number</label>
      <input formControlName="passport" type="text" id="passport" placeholder="Provide Passport Data">
      <app-input-error *ngIf="form.controls.passport.dirty" [errors]="form.controls.passport.errors"></app-input-error>
    </div>
  </div>
  <fieldset formGroupName="address">
    <legend>Address</legend>
    <div class="form-field">
      <label for="full-address">Full Address</label>
      <input formControlName="fullAddress" type="text" id="full-address" placeholder="Street name and house number">
      <app-input-error *ngIf="form.controls.address.controls.fullAddress.dirty" [errors]="form.controls.address.controls.fullAddress.errors"></app-input-error>
    </div>
    <div class="form-field">
      <label for="city">City</label>
      <input formControlName="city" type="text" id="city" placeholder="City">
      <app-input-error *ngIf="form.controls.address.controls.city.dirty" [errors]="form.controls.address.controls.city.errors"></app-input-error>
    </div>
    <div class="form-field">
      <label for="post-code">Post Code</label>
      <input formControlName="postCode" type="number" id="post-code" placeholder="Post code">
      <app-input-error *ngIf="form.controls.address.controls.postCode.dirty" [errors]="form.controls.address.controls.postCode.errors"></app-input-error>
    </div>
  </fieldset>
  <fieldset formArrayName="phones">
    <legend>Phones</legend>
    <div class="control-buttons">
      <button class="add-button" type="button" (click)="addPhone()">+</button>
    </div>
    <div class="form-field" *ngFor="let phone of form.controls.phones.controls; index as i" [formGroupName]="i">
      <label for="phone-{{i}}">Phone number</label>
      <div class="control-container">
        <select formControlName="label" class="phone-label-dropdown">
          <option *ngFor="let label of phoneLabels" [value]="label">{{label}}</option>
        </select>
        <input id="phone-{{i}}" formControlName="phone" type="text" placeholder="Enter Phone Number">
        <button class="remove-button" type="button" (click)="removePhone(i)">-</button>
      </div>
    </div>
  </fieldset>

  <fieldset formGroupName="skills">
    <legend>User Skills</legend>
    <ng-container *ngIf="skills$ | async as skills; else loading">
      <div class="skill-container" *ngFor="let skill of skills">
        <input [formControlName]="skill" type="checkbox" [id]="skill">
        <label [for]="skill">{{skill | titlecase}}</label>
      </div>
    </ng-container>

  </fieldset>
  <fieldset formGroupName="password">
    <legend>Password</legend>
    <div class="form-field">
      <label for="password">Create Password</label>
      <input formControlName="password" type="password" id="password" placeholder="Enter password...">
      <app-input-error *ngIf="form.controls.password.controls.password.dirty" [errors]="form.controls.password.controls.password.errors"></app-input-error>
    </div>
    <div class="form-field">
      <label for="confirm-password">Confirm Password</label>
      <input formControlName="confirmPassword" type="password" id="confirm-password" placeholder="Enter password...">
      <app-input-error *ngIf="form.controls.password.controls.confirmPassword.dirty" [errors]="form.controls.password.controls.confirmPassword.errors"></app-input-error>
    </div>
  </fieldset>
  <button [disabled]="form.invalid">Save</button>
  <button [disabled]="form.pristine" class="reset-button" type="reset">Reset</button>
</form>

<ng-template #loading>
  <p>Skills are loading...</p>
</ng-template>


